# Supabase Configuration

NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Admin Configuration
NEXT_PUBLIC_ADMIN_CODE= your-secert-key

# Gemini AI Configuration (for content moderation)
NEXT_PUBLIC_GEMINI_API_KEY=your-gemini-api-key

# Optional: Enable/Disable content moderation
NEXT_PUBLIC_ENABLE_MODERATION=true

# App Configuration
NEXT_PUBLIC_APP_URL 

